<!-- <router-outlet></router-outlet> -->

<div class="container-fluid">
  <div class="row">
    <div class="col-md">
      <div class="row" id="left-panel"></div>
    </div>
    <div class="col-md">
      <div class="search-container">
        <div >

          <div class="input-group mb-4 shadow-sm bg-white rounded search-bar">
            <input id="search-field" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
          </div>
          <div class="d-flex justify-content-center">
              <button type="button" class="btn btn-light shadow-sm border mr-1" onclick="onSearchButtonDown(event)">Search</button>
              <button type="button" class="btn btn-light shadow-sm border ml-1">I'm Feeling Lucky</button>
              
          </div>
        </div>
      </div>

    </div>
  </div>

</div>